<div ng-controller="sampleController" class="container">    
    <h4 class="panel-indent">Common Dialogs</h4>
    <a class="hy-link cursor-pointer" ng-click="openSimpleInfo()">Open Information Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleWarning()">Open Warning Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleError()">Open Error Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="dialogNoIconAndGrayButWithBorder()">Dialog without Icon and Gray-background But with Border</a><br />
    <a class="hy-link cursor-pointer" ng-click="dialogNoAnimationDrag()">Dialog without Animation and Dragging</a><br />
    <a class="hy-link cursor-pointer" ng-click="differentHeaderFooterStyles()">Different Header and Footer Styles</a><br />
    <a class="hy-link cursor-pointer" ng-click="openSimpleConfirmation()">Open Confirmation Dialog by Simple Call</a><br />
    <a class="hy-link cursor-pointer" ng-click="keepParentOpenAndNoCloseByOutside()">Keep Parent Dialog Opening and Disable Closing by Click-outside</a><br />
    <a class="hy-link cursor-pointer" ng-click="openDialogAfterClosingParentUsingPremise()">Open Child Dialog After Closing Parent Using Premise</a><br />
    <a class="hy-link cursor-pointer" ng-click="openDialogBeforeClosingParentUsingCallback()">Open Child Dialog Before Closing Parent Using Callback Function</a><br />
    <h4 class="panel-indent top-space"> Custom Data Dialogs</h4>
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(0)">Display and Submit Data Form</a><br />
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(1)">Data Form with Confirmation Dialog Open</a><br />
    <a class="hy-link cursor-pointer" ng-click="dataFormDialog(2)">Data Form Dialog with Cancel Warning</a><br />
</div>
