USE [master]
GO
/****** Object:  Database [AGENDA]    Script Date: 07/05/2017 16:33:20 ******/
CREATE DATABASE [AGENDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGENDA', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AGENDA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AGENDA_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AGENDA_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGENDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGENDA]
GO
/****** Object:  Table [dbo].[CONTATOS]    Script Date: 07/05/2017 16:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTATOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](150) NOT NULL,
	[COMPLEMENTO] [varchar](50) NULL,
	[BAIRRO] [varchar](50) NOT NULL,
	[MUNICIPIO] [varchar](50) NOT NULL,
	[ESTADOID] [int] NOT NULL,
	[CEP] [char](8) NOT NULL,
	[TELEFONE] [varchar](50) NULL,
 CONSTRAINT [PK_CONTATOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 07/05/2017 16:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[SIGLA] [char](2) NOT NULL,
 CONSTRAINT [PK_ESTADOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CONTATOS]  WITH CHECK ADD  CONSTRAINT [FK_CONTATOS_ESTADOS] FOREIGN KEY([ESTADOID])
REFERENCES [dbo].[ESTADOS] ([ID])
GO
ALTER TABLE [dbo].[CONTATOS] CHECK CONSTRAINT [FK_CONTATOS_ESTADOS]
GO
USE [master]
GO
