<div>
    <h3 class="cssTitulo">Novo Contato</h3>
</div>
<form name="userFormTwo" novalidate>
    <ng-form name="userFieldForm">
        <fieldset>

            <div>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" class="txt" style='width: 300px;' ng-model="novoContato.nome" required />
            </div>
            <div>
                <label for="endereco">Endereço:</label>
                <input type="text" name="endereco" id="endereco" class="txt" style='width: 300px;' ng-model="novoContato.endereco" required />
            </div>
            <div>
                <label for="complemento">Complemento:</label>
                <input type="text" name="complemento" id="complemento" class="txt" style='width: 300px;' ng-model="novoContato.complemento" />
            </div>
            <div>
                <label for="bairro">Bairro :</label>
                <input type="text" name="bairro" id="bairro" class="txt" style='width: 150px;' ng-model="novoContato.bairro" required />
            </div>
            <div>
                <label for="municipio">Município :</label>
                <input type="text" name="municipio" id="municipio" class="txt" style='width: 150px;' ng-model="novoContato.municipio" required />
            </div>
            <div>
                <label for="cep">CEP :</label>
                <input type="text" name="cep" id="cep" class="txt" style='width: 75px;' ng-model="novoContato.cep" required />
            </div>
            <div>
                <label for="telefone">Telefone :</label>
                <input type="text" name="telefone" id="telefone" class="txt" style='width: 75px;' ng-model="novoContato.telefone" required />
            </div>
            <div>
                <label for="estado">Estado :</label>
                <select class="txt" style='width: 150px;' ng-model="novoContato.estadoid">
                    <option ng-repeat="estado in estados" value="{{estado.id}}">{{estado.descricao}}</option>
                </select>
            </div>
        </fieldset>

    </ng-form>
    <div>
        <button ng-click="criarContato()" class="btn btn-xs btn-primary" style="min-width:70px;">&nbsp;salvar</button>
    </div>

</form>